# Konfigurasi Server
PORT=5000

# Konfigurasi Database (Prisma)
# Sesuaikan dengan kredensial database MySQL Anda
DATABASE_URL="mysql://root:password@localhost:3306/wa_blast"

# Keamanan Autentikasi (JWT)
# Ganti dengan string acak yang kuat (misal: "hfk834hf8794gf984hf498")
JWT_SECRET="secret-key-trywsblast"

# Cloudflare Turnstile (Captcha Anti-Bot)
# Ganti dengan Secret Key Turnstile Anda yang baru
TURNSTILE_SECRET="0x4AAAAAADsTkP..."
